/* Global */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body,html {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    color: #151616;
    text-decoration: none;
}

h1{
    font-size: 4em;
}

.button{
    font-size: 2em;
    text-decoration: none;
    color: #151616;
    border: #151616 1px solid;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.15s ease-in-out;
    animation-delay: 0.5s;
}

.button:hover{
    background-color: #151616;
    color: #f2f2f2;
    cursor: pointer;
}
/* nav */
#nav{
    background: #151616;
    color: #fff;
    width: 100vw;
}

.menu {
    padding-top:15px;
    height: 40px;
    background: #151616;
    color: #fff;
    text-align: center;
    width: 100vw;
    z-index: 1;
}

#menu {
    position: fixed;
    top: 0; /* Stay on top */
    transition: top 0.5s; /* Transition effect when sliding down (and up) */
}

.menu ul, .menu ul li{
    display: inline;
}

.menu a {
    background: #151616;
    color: #fff;
    display: inline;
    margin-left: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;
    font-size: 1.5em; 
}

@media screen and (max-width: 1024px) {
    .menu{
        display: none;
    }
}

/* Home */

#home{
    height: 100vh;
    width: 100vw;
    background-color: #151616;
    color: #fff;
    text-align: center;
}

.text-home {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
}

.text-home h1{
    font-size: 6rem;
    padding-bottom: 10%;
    animation-delay: 0.25s;
}

.text-home p{
    font-size: 2em;
    color: #ccc;
    text-align: right;
    width: 45%;
    float: right;
    padding-right:0.25rem;
}
.text-home .padding{
    padding-right: 4em;
    animation-delay: 1.5s;
}

.text-home .indic{
    border-right: 2px solid #fff;
}

@media screen and (max-width: 768px) {
    .text-home h1{
        font-size: 4rem;
        padding-bottom: 33%;
    }

    .text-home p{
        font-size: 1.5rem;
        width: 40%;
    }

    .text-home .padding{
        padding-right: 1vw;
        animation-delay: 1.5s;
    }
}

@media screen and (max-width: 600px) {
    .text-home h1{
        font-size: 2.5rem;
        padding-bottom: 50%;
    }

    .text-home p{
        font-size: 1.2rem;
        color: #ccc;
        text-align: right;
        width: 70%;
        float: right;
        margin-right: 1rem;
    }

    .text-home .padding{
        padding-right: 1vw;
    }
}


/* About */

#about{
    height: 80rem;
    width: 100vw;
    text-align: center;
    background-color: #f2f2f2;
    color:#151616;
}

.text-about{
    position: relative;
    top: 5rem;
}

.text-about h1{
    padding-top: 1rem;
}

.text-about p{
    color:#151616;
    font-size: 1.5em;
    padding: 1.5em 15em;
    line-height: 1.5em;
}

@media screen and (max-width: 1024px) {
    #about {
        height: 75rem;
        text-align: center;
        background-color: #f2f2f2;
        color:#151616;
    }

    .text-about p{
        color:#151616;
        font-size: 1.5em;
        padding: 2rem 10rem 5rem;
        line-height: 1.5em;
    }
}

@media screen and (max-width: 834px) {
    #about {
        height: 90rem;
        text-align: center;
        background-color: #f2f2f2;
        color:#151616;
    }

    .text-about p{
        color:#151616;
        font-size: 1.5em;
        padding: 2rem 10rem 3rem;
        line-height: 1.5em;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 768px) {
    #about {
        height: 95rem;
        text-align: center;
        background-color: #f2f2f2;
        color:#151616;
    }

    .text-about p{
        color:#151616;
        font-size: 1.5em;
        padding: 2rem 10rem 4rem;
        line-height: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    #about {
        height: 120rem;
        text-align: center;
        background-color: #f2f2f2;
        color:#151616;
    }

    .text-about p{
        color:#151616;
        font-size: 1.5em;
        padding: 2rem 2rem 2rem;
        line-height: 1.5em;
    }
}

@media screen and (max-height: 650px) {
    #about {
        height: 160rem;
        text-align: center;
        background-color: #f2f2f2;
        color:#151616;
    }

    .text-about p{
        color:#151616;
        font-size: 1.5em;
        padding: 2rem 3rem 5rem;
        line-height: 1.5em;
    }
}

/* Skills */

#skills{
    height: 100vh;
    width: 100vw;
    text-align: center;
    color:#151616;
}

.text-skills{
    position: relative;
    top: 5rem;
}

.text-skills h3{
    font-size:2em;
    padding-bottom: 2em;
    line-height: 1.5em;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 6em;
}

.grid img{
    height: 35px;
    vertical-align:middle;
}

.grid .responsive{
    height: 50px;
}

.grid p{
    padding-top: 5px;
    display: block;
    
}

.grid div{
    line-height: 1.8em;
}

.inline{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 1em;
}

.inline img{
    height: 200px;
    vertical-align:middle;
}

.inline .responsive{
    height: 200px;
}

.inline p{
    padding-top: 5px;
    display: block;  
}

.inline div{
    line-height: 1.8em;
}

@media screen and (max-width: 1024px) {
    #skills{
        height: 45rem;
    }
}

@media screen and (max-width: 834px) {
    .text-skills h3{
        font-size:1.5em;
    }
}

@media screen and (max-width: 600px) {
    #skills{
        height: 35rem;
    }

    .grid{
        grid-template-columns: repeat(2,2fr);
        padding-top: 2em;
    }

    .inline{
        display: grid;
        grid-template-columns: repeat(1,2fr);
        padding-top: 1em;
    }
}

/* Projects */

#projects{
    height: 130vh;
    width: 100vw;
    text-align: center;
    background-color: #f2f2f2;
    color:#151616;
}

.text-projects{
    position: relative;
    top: 10%;
    color:#151616;
}

.text-projects h3{
    font-size:2em;
    padding: 2em 0 2em 0;
    line-height: 1.5em;
}

.text-projects img{
    height: 400px;
    padding: 0 20px 10px 20px;
}

@media screen and (max-width: 1024px) {
    #projects{
        height: 65vh;
    }

    .text-projects img{
        height: 300px;
        padding: 0 20px 10px 20px;
    }
}

@media screen and (max-width: 834px) {
    #projects{
        height: 80vh;
    }

    .text-projects img{
        height: 250px;
        padding: 0 20px 10px 20px;
    }
}

@media screen and (max-width: 600px) {
    #skills{
        height: 85rem;
    }

    .grid{
        grid-template-columns: repeat(2,2fr);
        padding-top: 2em;
    }

    .inline{
        display: grid;
        grid-template-columns: repeat(1,2fr);
        padding-top: 1em;
    }

    #projects{
        height: 65rem;
    }

    .text-projects{
        top: 3rem;
        padding: 0 1rem;
    }

    .text-projects img{
        height: 200px;
        padding: 0 20px 10px 20px;
    }
}

/* Contact */

#contact{
    height: 100vh;
    width: 100vw;
    text-align: center;
    color:#151616;
    line-height: 5em;
}

.text-contact{
    position: relative;
    top: 10%;
    color:#151616;
}
.text-contact h1{
    margin: 0 1rem;
    padding-bottom: 50px;
}
#form input{
    width: 35%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 1.5em;
}

#form textarea{
    margin-top:-50px;
    width: 35%;
    height: 150px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 1.5em;
}

.text-contact a{
    font-size: 1.5em;
}

@media screen and (max-width: 1024px) {
    #contact{
        height: 45rem;
    }

    #form input{
        width: 50%;
        height: 50px;
    }

    #form textarea{
        margin-top:-50px;
        width: 50%;
        height: 150px;
    }
}

@media screen and (max-width: 600px) {
    #contact{
        height: 47rem;
    }

    #form input{
        width: 80%;
        height: 50px;
    }

    #form textarea{
        margin-top:-50px;
        width: 80%;
        height: 150px;
    }
}

/* footer */

footer{
    height: 100px;
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 75px;
}

footer img{
    height: 25px;
    vertical-align:sub;
    margin-left: 1rem
}

footer p{
    display: inline;
    font-size: 1.5em;
    padding-right: 50px;
    padding-left: 10px;
}

@media screen and (max-width: 600px) {
    footer p{
        font-size: 1.5rem;
        padding-right: 0px;
        padding-left: 0px;
    }
}

/* animations */

.indic{
    animation: blinkTextCursor 1000ms steps(50) infinite normal;
}


@keyframes blinkTextCursor {
    from {
        border-right-color: #fff;
    }
    
    to {
        border-right-color: transparent;
    }
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #444;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}